<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}About!{% endblock %}</title>
    </head>
    <body>
        <h1>Hello, my name is {{ name }}</h1>
        <h2>I am a {{ profession }}</h2>
    </body>
</html>
