{% extends "base.html.twig" %}
{% block body %}
    <ul id="song_list">
        {% for song in song_list %}
            <li><a href="{{ path('song_edit', song._id) }}">{{ song.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
